
    <div class="gridContainer">
        <div class="item" *ngFor="let image of productImages;let i = index">
                <a href="#"><img class="itemImage" class="img-responsive"  [src]="image"/></a>
        </div>
        
        <!--<div class="item">
                <a href="#"><img class="itemImage" class="img-responsive" [src]="productImages[1]"/></a>
        </div>
        <div class="item">
                <a href="#"><img class="itemImage" class="img-responsive" [src]="productImages[2]"/></a>
        </div>
    
        <div class="item">
                <a href="#"><img class="itemImage" class="img-responsive"  [src]="productImages[3]"/></a>
        </div>
        <div class="item">
                <a href="#"><img class="itemImage"  class="img-responsive" [src]="productImages[4]"/></a>
        </div>
        <div class="item">
                <a href="#"><img class="itemImage"  class="img-responsive" [src]="productImages[5]"/></a>
        </div>
    
        <div class="item">
                <a href="#"><img class="itemImage"  class="img-responsive" [src]="productImages[6]"/></a>
        </div>
        <div class="item">
                <a href="#"><img class="itemImage"  class="img-responsive" [src]="productImages[7]"/></a>
        </div>-->
    </div>